<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>child_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{242,496}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{242,496}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
            <key>child_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{232,496}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{232,496}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
            <key>child_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,500},{214,496}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{214,496}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
            <key>child_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,498}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{194,498}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
            <key>child_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{174,496}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{174,496}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
            <key>child_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,500},{178,496}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{178,496}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
            <key>child_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{204,496}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{204,496}}</string>
                <key>sourceSize</key>
                <string>{244,498}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>child_frames.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:075ac8a307e8d2529ca7ad4bffe4c9ac:1/1$</string>
            <key>textureFileName</key>
            <string>child_frames.png</string>
        </dict>
    </dict>
</plist>
